.footer {
  padding: 6px;
  text-align: center;
  margin-top: auto;
  border-top: 1px solid gray;
}

.footer > p {
  color: rgb(82, 82, 82);
  font-size: 0.9rem;
  margin: 5px;
}

.footer > p > a {
  color: rgb(80, 80, 80);
  text-decoration: underline 1px solid gray;
}

.footer > p > a:visited {
  color: rgb(66, 66, 66);
  text-decoration: underline 1px solid gray;
}
.githubLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.github {
  display: inline-block;
  background-image: url("./../../assets/icons/github.png");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}
